.clear-container {
  width: 60%;
  margin: 100px auto;
}

.title-profile {
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  text-align: center;
  justify-content: center;
}

.avatar {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.avatar img {
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  border: solid 6px transparent;
  border-radius: 50%;
}
.avatar button {
  margin-bottom: 30px;
  font-size: 20px;
  border: none;
}

.card:hover .avatar img {
  border-color: rgb(99, 204, 131);
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.site-description-item-profile-p {
  font-size: 17px;
  font-weight: 700;
}
.login-form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-26px);
}